$black: #0a0908ff;
$black-transparent: #0a090888;
$dusk-blue: #36558fff;
$white-smoke: #f2f4f3ff;
$classic-crimson: #d62839ff;
$rosewood: #ba324fff;

@font-face {
  font-family: "The Bomb Sound"; 
  src: url(The\ Bomb\ Sound.ttf);
}

@font-face {
    font-family: Bulletproof;
    src: url(Bulletproof-w1nxx.ttf);
}

@font-face {
    font-family: Radja;
    src: url(Radja-q2MP5.ttf);
}

@font-face {
    font-family: DS-DIGI;
    src: url(DS-DIGI.ttf);
}

@keyframes scroll-x {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes scroll-xy {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

html {
    background-color: $black;
}

#navbar {
    background-repeat: repeat-x;
    background-size: contain;
    animation: scroll-x 60s linear infinite;
    border: 6px $white-smoke solid;
    border-radius: 3px;
    padding: 10px;
    margin: 20px;
    height:100px;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: "The Bomb Sound", sans-serif;
        li {
            font-size: 24px;
            margin: 0 20px;
            list-style: none;
            color: $white-smoke;
            img {
                height: 80px;
                transition: height 0.1s ease;
                &:hover {
                    height: 90px;
                }
            }
            a {
                text-decoration: none;
                color: $white-smoke;
                &:hover {
                    color: $dusk-blue;
                }
            }
        }
    }
}

li.selected {
    color: $dusk-blue;
    text-decoration: underline;
}

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(ascadventures3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 6px $white-smoke solid;
    border-radius: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 1000px;
    min-height:500px;
    margin: 20px auto;
    h1 {
        font-family: Bulletproof, sans-serif;
        font-size: 6em;
        color: $white-smoke;
        text-align: center;
        padding: 20px;
    }
}

article{
    border: 6px $white-smoke solid;
    border-radius: 3px;
    font-family: Radja, sans-serif;
    color: $white-smoke;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    h2 {
        font-size: 36px;
        margin-top: 20px;
        font-family: Bulletproof, sans-serif;
    }
}

#countdown {
    border: 6px $white-smoke solid;
    border-radius: 3px;
    font-family: DS-DIGI, sans-serif;
    color: $white-smoke;
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    h2 {
        font-size: 36px;
        margin-top: 20px;
        font-family: Bulletproof, sans-serif;
        text-align: center;
    }
    #timer {
        font-size: 4rem;
        text-align: center;
        display:flex;
        justify-content: space-around;
        align-items: center;
        max-width:75%;
        margin: 0 auto;
        p {
            margin:0
        }
    }
    #labels {
        font-family: Radja, sans-serif;
        font-size: 2rem;
        text-align: center;
        display:flex;
        justify-content: space-around;
        align-items: center;
        max-width:75%;
        margin: 0 auto;
    }
}