$black: #0a0908ff;
$black-transparent: #0a090888;
$dusk-blue: #36558fff;
$white-smoke: #f2f4f3ff;
$classic-crimson: #d62839ff;
$rosewood: #ba324fff;

$phone-max-width: 900px;

@mixin default-box {
    border: 3px $white-smoke solid;
    background-color: $black;
    color: $white-smoke;
    font-family: Radja, sans-serif;
    padding:20px;
    font-size: 1em;
}

@font-face {
  font-family: "The Bomb Sound"; 
  src: url(fonts/The\ Bomb\ Sound.ttf);
}

@font-face {
    font-family: Bulletproof;
    src: url(fonts/Bulletproof-w1nxx.ttf);
}

@font-face {
    font-family: Radja;
    src: url(fonts/Radja-q2MP5.ttf);
}

@font-face {
    font-family: "Digital 7";
    src: url(fonts/digital-7.ttf);
}

@keyframes scroll-x {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes scroll-xy {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

html {
    background-color: $black;
}

#navbar {
    background-repeat: repeat-x;
    background-size: contain;
    animation: scroll-x 60s linear infinite;
    border: 6px $white-smoke solid;
    border-radius: 3px;
    padding: 10px;
    margin: 20px;
    height:100px;
    overflow-x: auto;
    white-space: nowrap;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: "The Bomb Sound", sans-serif;
        li {
            font-size: 24px;
            margin: 0 20px;
            list-style: none;
            color: $white-smoke;
            img {
                max-height: 80px;
                transition: max-height 0.1s ease;
                &:hover {
                    max-height: 90px;
                }
            }
            a {
                text-decoration: none;
                color: $white-smoke;
                &:hover {
                    color: $classic-crimson;
                }
            }
        }
    }
}

li.selected {
    color: $dusk-blue;
    text-decoration: underline;
}

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(ascadventures3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 6px $white-smoke solid;
    border-radius: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 1000px;
    min-height:500px;
    margin: 20px auto;
    h1 {
        font-family: Bulletproof, sans-serif;
        font-size: 6vw;
        color: $white-smoke;
        text-align: center;
        padding: 20px;
    }
}

article{
    border: 6px $white-smoke solid;
    border-radius: 3px;
    font-family: Radja, sans-serif;
    color: $white-smoke;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    h2 {
        font-size: 36px;
        margin-top: 20px;
        font-family: Bulletproof, sans-serif;
    }
}

#countdowncontainer {
    border: 6px $white-smoke solid;
    border-radius: 3px;
    color: $white-smoke;
    max-width: 70%;
    margin: auto;
    padding: 20px;
    h2 {
        font-size: 36px;
        margin-top: 20px;
        text-align: center;
        font-family: Bulletproof, sans-serif;
    }
    #countdown {
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        h2 {
            font-size: 36px;
            margin-top: 20px;
            font-family: Bulletproof, sans-serif;
            text-align: center;
        }
        .cdnumbers {
            font-size: 4rem;
            text-align: center;
            max-width:75%;
            margin: 10px auto;
            font-family: "Digital 7", sans-serif;
            p {
                margin:0
            }
        }
        .cdlabels {
            font-family: Radja, sans-serif;
            font-size: 2rem;
            text-align: center;
            max-width:75%;
            margin: 0 auto;
        }           
    }
}

#characterselect {
    display:flex;
    height: 25%;
    img {
        filter: drop-shadow(0 0 0.25rem #ffffff);
    }
    #lordgato {
        filter: drop-shadow(0 0 0.25rem #0055ff);
    }
    #cherry {
        filter: drop-shadow(0 0 0.25rem #606265);
    }
    #podsfi {
        filter: drop-shadow(0 0 0.25rem #A3A13D);
    }
    #clueless {
        filter: drop-shadow(0 0 0.25rem #E28029);
    }
    #spinny {
        filter: drop-shadow(0 0 0.25rem #8FAEC6);
    }
    #elaine {
        filter: drop-shadow(0 0 0.25rem #BE251A);
    }
    #camel {
        filter: drop-shadow(0 0 0.25rem #A4A491);
    }
    #feesh {
        filter: drop-shadow(0 0 0.25rem #fff);
    }
}

#characterarea {
    display: flex;
    align-items: center;
    flex: 2 1 25%;
    img {
        width:100%;
        height:auto;
        filter: drop-shadow(0 0 0.75rem #ffffff);
    }
    article {
        border: 0;
        margin: 0;
        text-align: center;
        font-size: 1vw;
        flex-basis: 50%;
        h2 {
            font-size: 3vw;
        }
    }
}

#charactericons {
    flex: 1 1 25%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:10%;
    row-gap: 10%;
}

.charimg {
    max-width: 66%;
    height:auto;
    border: $white-smoke 6px solid;
    &:hover {
        transform: scale(1.1)
    }
    &:active {
        transform: scale(0.9)
    }
}

#mute-button {
    @include default-box;
    font-size: 1.5vw;
}

#hide-button {
    @include default-box;
    font-size: 1.5vw;
}

#volume-container {
    @include default-box;
    font-size: 1.5vw;
    p {
        margin-top:10px;
        margin-bottom:20px;
    }
}

#track-selector {
    @include default-box;
    font-size: 1vw;
    button {
        @include default-box;
        text-align: center;
    }
}

#music-container {
    position: fixed;
    bottom:0;
    right:0;
}

#poster-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.change-ost {
    @include default-box;
    font-size: 2vw;
    padding: 20px;
    margin: 20px;
}

#poster {
    border: $white-smoke 6px solid;
    background-color: $white-smoke;
    width: 75%;
    margin: 20px auto;
    h2 {
        color: $black;
        font-family: serif;
        text-align: center;
        font-size: min(5vw, 96px);
        margin: 20px auto;
    }
    p {
        color: $black;
        font-family: serif;
        text-align: center;
        font-size: min(2.5vw, 48px);
        margin: 20px auto;
    }
    #roster{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: 
            "opponent vs player"
            "support1 . support2";
        place-items: center;
        img {
            max-width: min(100%, 400px);
            height:auto;
            margin: 10px;
        }
        p {
            font-family: serif;
            font-size: min(3vw, 48px);
        }
        #support1 {
            grid-area: support1;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            img {
                max-width: min(100%, 200px);
                height:auto;
                margin: 10px;
            }
        }
        #support2 {
            grid-area: support2;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            img {
                max-width: min(100%, 200px);
                height:auto;
                margin: 10px;
            }
        }
    }
}

.centered {
    display:flex;
    justify-content: center;
    align-items: center;
}

#boombox {
    position:relative;
    display:inline-block;
    width:100%;
    max-width: 750px;
    text-align: center;
    margin: 20px auto;
    img {
        display: block;
        max-width: min(100%, 750px);
        height:auto;
        margin: 20px auto;
        box-shadow: 0 20px 5px -5px rgba(255, 255, 255, 0.5);
    }
}

.implicit {
    position: absolute;
    font-size: 15px;
    color: $black;
    opacity: 0.5;
}

#play {
    top: 55%;
    left: 59.5%;
    transform: rotate(-10deg);
}

#pause {
    font-size: 10px;
    top: 56.5%;
    left: 54.75%;
    transform: rotate(-10deg);
}

#seek-bar {
    position: absolute;
    top: 75%;
    left: 33%;
    width: 33%;
}

#track-number {
    font-family: "Digital 7", sans-serif;
    position: absolute;
    top: 37%;
    left: 47.5%;
    text-align: center;
    font-size: 48px;
    color: $black;
}

@media screen and (max-width: 768px){
    .intro {
        max-width: 90%;
        h1 {
            font-size: 10vw;
        }
    }
    #navbar {
        padding:0;
        animation: scroll-x 30s linear infinite;
        ul li  {
            margin:0 20px;
            img {
                max-height: 40px;
                &:hover {
                    max-height: 50px;
                }
            }
        }
    }
    #countdowncontainer {
        #countdown {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        .cdlabels {
            font-size: 3vw;
        }
        .cdnumbers {
            font-size: 10vw;
        }
    }
    }
    #characterarea {
        flex-direction: column;
        article {
            font-size: 2vw;
        }
    }
    #charactericons {
        grid-template-columns: 1fr 1fr;
        row-gap: 5%;
        .charimg {
            border-width:4px;
        }
    }
    #music-container {
        display:flex;
        justify-content: space-around;
        align-items: flex-end;
        width:100%;
        height: auto;
    }
    #volume-container {
        padding:0 10px;
        font-size:4vw;
    }

    #track-selector {
        font-size: 2.5vw;
        padding: 4px;
    }
    #mute-button {
        font-size: 4vw;
        padding: 4px;
    }
    #hide-button {
        font-size: 4vw;
        padding: 20px;
    }
}