$brown:#B17457;
$beigewhite:#D8D2C2;
$white:#FAF7F0;
$black:#4A4947;
@font-face {
    font-family: Dinopia;
    src: url(DinopiaRegular-mLrO9.otf);
}
@font-face {
    font-family: StoneHinge;
    src: url(StoneHinge-aa8m.ttf);
}
body {
    background-color:$beigewhite;
}
div {
    background-color:$white;
    border:4px solid $black;
    max-width:80%;
    h1 {
        text-align:center;
        font-family:Dinopia;
        font-size:48px;
    }
    p {
        font-family:StoneHinge;
    }
    img {
        display:block;
        max-width:25%;
        margin-left:auto;
        margin-right:auto;
        margin-top:none;
    }
    margin:auto;
    padding:8px;
}
.countdown {
    background-color:$brown;
    color:white;
    h1 {
        font-size:64px;
    }
    p {
        font-size:32px;
        font-weight:bold;
        text-align:center;
    }
    border:8px $black solid;
    margin-left:20%;
    margin-right:20%;
}
.header {
    color:white;
    padding:64px;
    padding-top:128px;
    padding-bottom:128px;
    border-width:8px;
    margin:auto;
    width:784px;
    background:$brown url(afcadventuresch2.png);
    background-blend-mode: overlay;
    background-position:center;
    background-repeat: no-repeat;
    h1 {
        font-size:96px;
    }
}

.navbar {
    max-width:100%;
    li {
        display:inline-block;
        padding-right:8px;
        padding-left:8px;
        border-right: black solid 2px;
        font-family:Dinopia;
        .selected {
            color:#ffff;
        }
    }
    li:first-child {
        padding-left:0px;
    }
    li:last-child {
        border-right:0px;
    }
}

a {
    button {
        width:256px;
        height:256px;
        display:inline;
        padding:32px;
        font-family:StoneHinge;
        font-size:32px;
        border-radius:16px;
        position:relative;
        img {
            width:50%;
        }
    }
}

a:visited {
    text-decoration:none;
}

.youtube {
    background-color:#e62117;
    color:white;
}

.twitter {
    background-color:#26a7de;
    color:white;
}

.bsky {
    background-color:#1185fe;
    color:white;
}

.discord {
    background-color:#6577e6;
    color:white; 
}

.characterbox {
    border:none;
    margin:auto;
    width:75%;
    .character {
        display:inline-block;
        vertical-align:middle;
        padding:8px;
        text-align:left;
        width:20%;
        margin:8px;
        img {
            float:left;
            width:128px;
            padding:4px;
            margin:0px;
        }
        h1 {
            font-size:24px;
        }
        p {
            font-size:15px;
            text-align:center;
        }
    }
}

.song {
    width:25%;
    justify-content:center;
    border-style:double;
    border-width:8px;
    h2 {
        font-family: Dinopia;
        text-align:center;
    }
    img {
        max-width:50%;
        margin-left:auto;
        margin-right:auto;
        margin-top:none;
        display:block;
    }
    .audio{
        margin-left:auto;
        margin-right:auto;
        margin-top:none;
        width:auto;
        border:none;
    }
}
.alittletrolling {
    border-color: #fa837a;
}
.justaprankbro {
    border-color: #b51010;
    h2 {
        font-size:35px;
        color:#330000;
        text-shadow: 0 0 4px #110000;
    }
}
.afcantics {
    width:50%;
    border-color: #540808;
    img {
        width:75%;
    }
    h2 {
        font-size:50px;
        color:#ffffff;
        text-shadow: 0 0 16px #330000, 0 0 16px #330000, 0 0 16px #330000;
    }
}

.gallery {
    border:none;
    img {
        display:inline-block;
        border:8px dotted;
        min-width:20%;
        max-width:20%;
    }
}